@model X.PagedList.IPagedList<Project3.Models.News>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Blog Index";
}

<div class="hero-wrap hero-bread" style="background-image: url('/StyleUser/images/bl1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="#">Home</a></span> <span>Blog</span></p>
                <h1 class="mb-0 bread">Blog</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <form action="#">
            <div class="col-lg-6 sidebar ftco-animate input-group mb-5">
                <input type="search" name="type" class="form-control form-control-lg" placeholder="Enter a news type to search...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12 ftco-animate">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <a href="#" class="block-20" style="background-image: url('/Images/@Html.DisplayFor(modelItem => item.NewsImage)');">
                                </a>
                                <div class="text d-block pl-md-4">
                                    <div class="meta mb-3">
                                        <div><b>@Html.DisplayFor(modelItem => item.NewsDate)</b></div>
                                    </div>
                                    <h3 class="heading"><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h3>
                                    <p>@Html.DisplayFor(modelItem => item.ShortContent)</p>
                                    <p><b>@Html.DisplayFor(modelItem => item.NewsType)</b></p>
                                    <p><a asp-action="Details" asp-route-id="@item.NewsId" class="btn btn-primary py-2 px-3">Blog Details</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new X.PagedList.Web.Common.PagedListRenderOptions()
{
    LiElementClasses = new List<String> { "page-item" },
    PageClasses = new List<String> { "page-link" }
})
</section> <!-- .section -->