@model X.PagedList.IPagedList<Project3.Models.Category>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Category list Page";
}

<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">Category list</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index">Home Admin</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="CategoriesAdmin" asp-action="Index">Category management</a></li>
            <li class="breadcrumb-item active">Category list</li>
        </ol>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form action="#">
            <div class="input-group">
                <input type="search" name="name" class="form-control form-control-lg" placeholder="Enter a name to search...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <a asp-action="Create" class="btn btn-primary pt-2"><i class="fas fa-plus"></i> Create</a>
</div>
<h5 class="my-3">
    <b class="text-success">@TempData["Message"]</b>
    <b class="text-danger">@TempData["MessageError"]</b>
</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}), new X.PagedList.Web.Common.PagedListRenderOptions(){
LiElementClasses = new List<String> {"page-item"},
PageClasses = new List<String> {"page-link"}
})
